<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game portal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/games">Games</a></li>
        <li class='right'><a href="/about">About</a></li>
    </ul>
    <main id='games'>
        <h1>games</h1>
        <div>
            <button class="pill" v-bind:class="{ active: item.isActive }" v-for="item in categories"
                v-on:click="filter(item.name)">{{ item.name }}</button>
        </div>
        <div class="grid">
            <a v-for="game in filteredItems" v-bind:href="'/game/'+game.gameid"
                v-bind:style="'background-image: url(https://cdn2.scratch.mit.edu/get_image/project/'+game.id+'_480x360.png);'">
                <div class="content">
                    <span class='game-name'>{{ game.name }}</span>
                </div>
            </a>
        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    //create buttons

    var vue = new Vue({
        el: '#games',
        data: {
            games: [],
            categories: [],
            cat: 'all'
        },
        methods: {
            filter: function (cat) {
                this.cat = cat
            }
        },
        computed: {
            filteredItems() {
                return this.games.filter(item => {
                    //return item.type.indexOf(this.search.toLowerCase()) > -1
                    this.categories.forEach(thing => {
                        thing.isActive = false
                    })
                    var result = this.categories.find(obj => {
                        return obj.name === this.cat
                    })

                    result.isActive = true

                    return item.category.includes(this.cat)
                })
            }
        }
    })


    fetch('/all')
        .then(res => res.json())
        .then(data => {
            var cats = []
            data.forEach(game => {
                game.category.forEach(cat => {
                    if (cat && !cats.includes(cat)) {
                        cats.push(cat)
                        vue.categories.push({ name: cat, isActive: false })
                    }
                })
            })
            console.log(cats)
            vue.categories.sort(compare)
            vue.categories.forEach(function (item, i) {
                if (item.name === 'all') {
                    vue.categories.splice(i, 1);
                    vue.categories.unshift(item);
                }
            });
            vue.games = data
        })
    function compare(a, b) {
        // Use toUpperCase() to ignore character casing
        const bandA = a.name.toUpperCase();
        const bandB = b.name.toUpperCase();

        let comparison = 0;
        if (bandA > bandB) {
            comparison = 1;
        } else if (bandA < bandB) {
            comparison = -1;
        }
        return comparison;
    }
</script>

</html>
