@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat';
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 100ms
}

.right {
    float: right;
}

li a:hover:not(.active) {
    background-color: rgb(34, 34, 34);
}

.active {
    background-color: #ff0062;
}

main {
    margin: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
    /*fade*/
    animation: fadeInAnimation ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid>*:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid>* {
    background: rgba(0, 0, 0, 0.1);
    border: 1px white solid;
    background-position: center center;
    background-size: cover;
}

.content {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px) brightness(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
    font-size: 85%;
    user-select: none;
    transition: 125ms;
    text-align: center;
}

.content:hover {
    font-size: 95%;
}

.content:active {
    backdrop-filter: blur(2px) brightness(0.25);
}

.content>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button {
    position: absolute;
    top: 80%;
    left: 200%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ff0062;

    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
} */

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

iframe {
    border: none;
    box-shadow: 0 0 20px 0px #ff006240;
}

#col-1 {
    position: relative;
    padding-right: 20px;
    float: left;
    /* height: 100%; */

    z-index: 1010101010
}

#col-2 {
    position: relative;
    width: 50%;
    float: left;
    /* height: 100%; */
    
    z-index: 1010101010
}

.pill{
    background-color: #ff0062;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px 15px;
    cursor: pointer;
    border-radius: 16px;

    transition: background-color 100ms;
    animation: fadeInAnimation ease 500ms;
}

.pill:hover{
    background-color: #ff3583;   
}

.pill:focus{
    outline: none;
    background-color: #ff3583;   
}

.pill.active{
    background-color: #bd0048;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
